@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans|Fredericka+the+Great|Noto+Sans+JP&display=swap');

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #EFC69B;
}
header, footer{
  background-color: #473144;
  padding: 30px;
  border-top: 2px solid #AF1B3F;
}
#description{
  text-align: left;
  max-width: 600px;
  padding: 20px;
}
footer {
  margin-top: 50px;
}
h1 {
  font-size: 5em;
  text-shadow: -1px 0 #AF1B3F, 0 1px #AF1B3F, 1px 0 #AF1B3F, 0 -1px #AF1B3F;
}
h1, h2, h3, h4, th, nav, footer{
  font-family: 'Bubblegum Sans', cursive;
}
/* Start nav */
nav {
  background-color: #473144;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #AF1B3F;
  margin-bottom: 20px;
}
.btn {
  width: 120px;
}
nav .bnt:active {
  text-decoration: underline;
}
nav .btn:visited {
  color: black;
  /* background-color: blue; */
}
nav .btn {
  background-color: #473144;
  font-size: 1.5em;
  border: 2px solid #AF1B3F;
  color: #AF1B3F;
  margin: 10px;
}
nav .btn:hover {
  background-color: #AF1B3F;
  color: #473144;
  border: 2px solid black;
}
/* End nav */
/* Start Menu */
.menu {
  margin: 30px;
  padding: 0px 50px;
}
.menuPic {
  width: 250px;
  margin-bottom: 10px;
}
/* End Menu */
/* Start Form */
.form {
  max-width: 600px;
  margin: 20px;
}
form div {
  margin-bottom: 10px;
}
textarea {
  /* width: 300px; */
  height: 100px;
}
form label{
  text-align: right;
}
/* End Form */
